<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vteba.xunxun.stock.dao.HoldingsDao" >
  <resultMap id="holdingsResultMap" type="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 结果集映射，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="holding_amount" property="holdingAmount" jdbcType="BIGINT" />
    <result column="available_amount" property="availableAmount" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="cost_price" property="costPrice" jdbcType="DOUBLE" />
    <result column="market_value" property="marketValue" jdbcType="DOUBLE" />
    <result column="profit" property="profit" jdbcType="DOUBLE" />
    <result column="profit_rate" property="profitRate" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - 该表所有字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    id, user_account, stock_code, stock_name, holding_amount, available_amount, price, 
    cost_price, market_value, profit, profit_rate
  </sql>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="params.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="model_where_clause" >
    <!--
      WARNING - 根据model条件，查询或更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="userAccount != null" >
          and user_account = #{userAccount,jdbcType=VARCHAR}
        </if>
        <if test="stockCode != null" >
          and stock_code = #{stockCode,jdbcType=VARCHAR}
        </if>
        <if test="stockName != null" >
          and stock_name = #{stockName,jdbcType=VARCHAR}
        </if>
        <if test="holdingAmount != null" >
          and holding_amount = #{holdingAmount,jdbcType=BIGINT}
        </if>
        <if test="availableAmount != null" >
          and available_amount = #{availableAmount,jdbcType=BIGINT}
        </if>
        <if test="price != null" >
          and price = #{price,jdbcType=DOUBLE}
        </if>
        <if test="costPrice != null" >
          and cost_price = #{costPrice,jdbcType=DOUBLE}
        </if>
        <if test="marketValue != null" >
          and market_value = #{marketValue,jdbcType=DOUBLE}
        </if>
        <if test="profit != null" >
          and profit = #{profit,jdbcType=DOUBLE}
        </if>
        <if test="profitRate != null" >
          and profit_rate = #{profitRate,jdbcType=DOUBLE}
        </if>
      </trim>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="update_model_where_clause" >
    <!--
      WARNING - 根据model条件，更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.userAccount != null" >
          and user_account = #{params.userAccount,jdbcType=VARCHAR}
        </if>
        <if test="params.stockCode != null" >
          and stock_code = #{params.stockCode,jdbcType=VARCHAR}
        </if>
        <if test="params.stockName != null" >
          and stock_name = #{params.stockName,jdbcType=VARCHAR}
        </if>
        <if test="params.holdingAmount != null" >
          and holding_amount = #{params.holdingAmount,jdbcType=BIGINT}
        </if>
        <if test="params.availableAmount != null" >
          and available_amount = #{params.availableAmount,jdbcType=BIGINT}
        </if>
        <if test="params.price != null" >
          and price = #{params.price,jdbcType=DOUBLE}
        </if>
        <if test="params.costPrice != null" >
          and cost_price = #{params.costPrice,jdbcType=DOUBLE}
        </if>
        <if test="params.marketValue != null" >
          and market_value = #{params.marketValue,jdbcType=DOUBLE}
        </if>
        <if test="params.profit != null" >
          and profit = #{params.profit,jdbcType=DOUBLE}
        </if>
        <if test="params.profitRate != null" >
          and profit_rate = #{params.profitRate,jdbcType=DOUBLE}
        </if>
      </trim>
    </where>
  </sql>
  <select id="queryForList" resultMap="holdingsResultMap" parameterType="com.vteba.xunxun.stock.model.HoldingsBean" >
    <!--
      WARNING - 根据Criteria所携带条件查询数据，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holdings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="queryList" resultMap="holdingsResultMap" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 根据params所携带条件查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holdings
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="pagedForList" resultMap="holdingsResultMap" parameterType="com.vteba.xunxun.stock.model.HoldingsBean" >
    <!--
      WARNING - 根据Criteria所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holdings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="pagedList" resultMap="holdingsResultMap" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 根据params所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holdings
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="get" resultMap="holdingsResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - 根据主键查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from holdings
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="unique" resultMap="holdingsResultMap" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 根据params所携带条件查询唯一记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from holdings
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    <!--
      WARNING - 根据主键删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from holdings
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBatch" parameterType="com.vteba.xunxun.stock.model.HoldingsBean" >
    <!--
      WARNING - 根据Criteria所携带条件删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from holdings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteBulks" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 根据params所携带条件删除数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from holdings
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 插入记录，只有非空字段才会插入到数据库。
      MyBatis代码工具自动生成，不要修改！
    -->
    insert into holdings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="holdingAmount != null" >
        holding_amount,
      </if>
      <if test="availableAmount != null" >
        available_amount,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="marketValue != null" >
        market_value,
      </if>
      <if test="profit != null" >
        profit,
      </if>
      <if test="profitRate != null" >
        profit_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="holdingAmount != null" >
        #{holdingAmount,jdbcType=BIGINT},
      </if>
      <if test="availableAmount != null" >
        #{availableAmount,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="marketValue != null" >
        #{marketValue,jdbcType=DOUBLE},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=DOUBLE},
      </if>
      <if test="profitRate != null" >
        #{profitRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="com.vteba.xunxun.stock.model.HoldingsBean" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据Criteria所携带条件进行count计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from holdings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countBy" parameterType="com.vteba.xunxun.stock.model.Holdings" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据params所携带条件计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from holdings
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <update id="updateBatch" parameterType="map" >
    <!--
      WARNING - 根据Criteria所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update holdings
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.stockCode != null" >
        stock_code = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.holdingAmount != null" >
        holding_amount = #{record.holdingAmount,jdbcType=BIGINT},
      </if>
      <if test="record.availableAmount != null" >
        available_amount = #{record.availableAmount,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.costPrice != null" >
        cost_price = #{record.costPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.marketValue != null" >
        market_value = #{record.marketValue,jdbcType=DOUBLE},
      </if>
      <if test="record.profit != null" >
        profit = #{record.profit,jdbcType=DOUBLE},
      </if>
      <if test="record.profitRate != null" >
        profit_rate = #{record.profitRate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBulks" parameterType="map" >
    <!--
      WARNING - 根据params所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update holdings
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.stockCode != null" >
        stock_code = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.holdingAmount != null" >
        holding_amount = #{record.holdingAmount,jdbcType=BIGINT},
      </if>
      <if test="record.availableAmount != null" >
        available_amount = #{record.availableAmount,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.costPrice != null" >
        cost_price = #{record.costPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.marketValue != null" >
        market_value = #{record.marketValue,jdbcType=DOUBLE},
      </if>
      <if test="record.profit != null" >
        profit = #{record.profit,jdbcType=DOUBLE},
      </if>
      <if test="record.profitRate != null" >
        profit_rate = #{record.profitRate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.vteba.xunxun.stock.model.Holdings" >
    <!--
      WARNING - 根据主键更新指定字段的数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    update holdings
    <set >
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="holdingAmount != null" >
        holding_amount = #{holdingAmount,jdbcType=BIGINT},
      </if>
      <if test="availableAmount != null" >
        available_amount = #{availableAmount,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="marketValue != null" >
        market_value = #{marketValue,jdbcType=DOUBLE},
      </if>
      <if test="profit != null" >
        profit = #{profit,jdbcType=DOUBLE},
      </if>
      <if test="profitRate != null" >
        profit_rate = #{profitRate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>