<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">
	
	<!-- jboss environment -->
<!-- 	<context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value>classpath:spring/application-context.xml</param-value> -->
<!-- 	</context-param> -->
	
	<!-- btm environment-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/application-context.xml</param-value>
	</context-param>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>CXFServlet</servlet-name> -->
<!-- 		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>CXFServlet</servlet-name> -->
<!-- 		<url-pattern>/services/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- DWR -->
<!-- 	<servlet> -->
<!--     <servlet-name>dwr</servlet-name> -->
<!--     <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class> -->
<!--       <init-param> -->
<!--         <param-name>debug</param-name> -->
<!--         <param-value>false</param-value> -->
<!--       </init-param> -->
<!-- 	</servlet> -->
	
<!-- 	<servlet-mapping> -->
<!--     	<servlet-name>dwr</servlet-name> -->
<!--     	<url-pattern>/dwr/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	
	<!--spring刷新Introspector防止内存泄露-->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> -->
<!-- 	</listener> -->
	
<!-- 	<listener> -->
<!-- 		<listener-class>com.vteba.web.ognl.OgnlMethodAccessorListener</listener-class> -->
<!-- 	</listener> -->
	
<!-- 	<listener> -->
<!-- 		<listener-class>com.vteba.config.listener.ApplicationInitializeListener</listener-class> -->
<!-- 	</listener> -->
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- tiles 监听器 -->
<!-- 	<listener> -->
<!-- 		<listener-class>com.vteba.web.tiles.YinleiTilesListener</listener-class> -->
<!-- 	</listener> -->
	
	<!--Spring Secutiry3 委托拦截器代理-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- spring security session 失效 -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<!-- 字符过滤器 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.vteba.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
	        <param-name>charset</param-name>
	        <param-value>UTF-8</param-value>
      	</init-param>
      	<init-param>
	        <param-name>forceEncoding</param-name>
	        <param-value>true</param-value>
      	</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 获得和当前线程绑定的请求上下文 -->
	<filter>
		<filter-name>requestContextFilter</filter-name>
		<filter-class>com.vteba.web.filter.RequestContextFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>requestContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 以下静态资源交给默认servlet处理 -->
	<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.bmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.flv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.swf</url-pattern> 
    </servlet-mapping>
    
	<!-- session 30分钟失效 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/application-springmvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
